Cython==3.0.10
Farama-Notifications==0.0.4
GitPython==3.1.43
Jinja2==3.1.4
Markdown==3.6
MarkupSafe==2.1.5
PyOpenGL==3.1.7
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.18.0
Rtree==1.2.0
Werkzeug==3.0.3
absl-py==2.1.0
aiohttp-retry==2.8.3
aiohttp==3.9.5
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asttokens==2.4.1
async-timeout==4.0.3
asyncssh==2.15.0
atpublic==4.1.0
attrs==23.2.0
bcc==0.1.10
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
click==8.1.7
cloudpickle==3.0.0
cmeel-assimp==5.3.1
cmeel-boost==1.83.0
cmeel-console-bridge==1.0.2.2
cmeel-octomap==1.9.8.2
cmeel-qhull==8.0.2.1
cmeel-tinyxml==2.6.2.3
cmeel-urdfdom==3.1.1.1
cmeel==0.53.3
colorama==0.4.6
configobj==5.0.8
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
decorator==4.4.2
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
docker-pycreds==0.4.0
dpath==2.2.0
dulwich==0.22.1
dvc-data==3.15.1
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.4.0
dvclive==3.46.1
eigenpy==3.5.1
entrypoints==0.4
etils==1.7.0
exceptiongroup==1.2.1
executing==2.0.1
filelock==3.14.0
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.52.1
frozenlist==1.4.1
fsspec==2024.5.0
funcy==2.0
gdown==5.2.0
git-filter-repo==2.38.0
gitdb==4.0.11
glfw==2.7.0
grandalf==0.8
grpcio==1.64.0
gto==1.7.1
gymnasium==0.29.1
h5py==3.11.0
hpp-fcl==2.4.4
hydra-core==1.3.2
idna==3.7
imageio-ffmpeg==0.4.9
imageio==2.34.1
importlib_resources==6.4.0
ipython==8.26.0
iterative-telemetry==0.0.8
jedi==0.19.1
joblib==1.4.2
jsonpickle==3.2.2
kiwisolver==1.4.5
kombu==5.3.7
lxml==5.2.2
mani_skill2==0.5.3
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
matplotlib==3.9.0
mdurl==0.1.2
motion-planning==0.1.5
mpmath==1.3.0
mujoco==3.1.5
multidict==6.0.5
networkx==3.3
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
opencv-python==4.9.0.80
orjson==3.10.6
packaging==24.0
pandas==1.3.5
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.3.0
pin==2.7.0
pip==22.0.2
platformdirs==3.11.0
prompt_toolkit==3.0.47
protobuf==5.27.0
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydot==2.0.0
pyg-lib==0.4.0+pt23cu121
pygit2==1.15.1
pygtrie==2.5.0
pynvml==11.5.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytorch-seed==0.2.0
pytorch_kinematics==0.6.1
pytz==2024.1
pyvis==0.3.2
requests==2.32.2
rich==13.7.1
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.6
sapien==2.2.2
scikit-learn==1.5.0
scipy==1.13.1
scmrepo==3.3.6
seaborn==0.13.2
semver==3.0.2
sentry-sdk==2.10.0
setproctitle==1.3.3
setuptools==59.6.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
six==1.16.0
smmap==5.0.1
soupsieve==2.5
sqltrie==0.11.0
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tensorboard-data-server==0.7.2
tensorboard==2.16.2
threadpoolctl==3.5.0
tomli==2.0.1
tomlkit==0.12.5
toppra==0.6.0
torch-geometric-temporal==0.54.0
torch-tb-profiler==0.4.3
torch==2.3.0
torch_cluster==1.6.3+pt23cu121
torch_geometric==2.5.3
torch_scatter==2.1.2+pt23cu121
torch_sparse==0.6.18+pt23cu121
torch_spline_conv==1.2.2+pt23cu121
torchaudio==2.3.0
torchvision==0.18.0
tqdm==4.66.4
traitlets==5.14.3
traittypes==0.2.1
transforms3d==0.4.1
trimesh==4.4.0
triton==2.3.0
typer==0.12.3
typing_extensions==4.12.0
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
voluptuous==0.15.2
wandb==0.17.5
wcwidth==0.2.13
yarl==1.9.4
zc.lockfile==3.0.post1
zipp==3.18.2