absl-py @ file:///croot/absl-py_1686852429912/work
aiohttp @ file:///croot/aiohttp_1707342283163/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
asttokens==2.4.1
attrs @ file:///croot/attrs_1695717823297/work
beautifulsoup4==4.12.3
blinker @ file:///croot/blinker_1696539051175/work
Brotli @ file:///work/ci_py311/brotli-split_1676830125088/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///croot/click_1698129812380/work
cloudpickle @ file:///croot/cloudpickle_1683040006038/work
cmeel==0.53.3
cmeel-assimp==5.3.1
cmeel-boost==1.83.0
cmeel-console-bridge==1.0.2.2
cmeel-octomap==1.9.8.2
cmeel-qhull==8.0.2.1
cmeel-tinyxml==2.6.2.3
cmeel-urdfdom==3.1.1.1
contourpy==1.2.0
cryptography @ file:///croot/cryptography_1710350347627/work
cycler==0.12.1
dacite==1.8.1
decorator==5.1.1
eigenpy==3.4.0
etils==1.8.0
executing==2.0.1
Farama-Notifications @ file:///croot/farama-notifications_1683058702908/work
fast_kinematics==0.0.1
filelock @ file:///croot/filelock_1700591183607/work
fonttools==4.50.0
frozenlist @ file:///croot/frozenlist_1698702560391/work
fsspec==2024.3.1
gdown==5.1.0
gitdb==4.0.11
GitPython==3.1.43
glfw==2.7.0
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib @ file:///work/ci_py311_2/google-auth-oauthlib_1679340681059/work
graphviz==0.20.3
grpcio @ file:///croot/grpc-suite_1701982571719/work
gymnasium @ file:///home/conda/feedstock_root/build_artifacts/gymnasium-split_1712294440955/work
h5py @ file:///croot/h5py_1691589708553/work
hpp-fcl==2.4.4
huggingface-hub==0.23.0
idna @ file:///work/ci_py311/idna_1676822698822/work
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib_resources==6.4.0
ipython==8.24.0
jax-jumpy @ file:///croot/jax-jumpy_1683230527192/work
jedi==0.19.1
Jinja2 @ file:///croot/jinja2_1706733616596/work
joblib @ file:///croot/joblib_1713976767370/work
kiwisolver==1.4.5
lxml==5.2.0
mani-skill2==0.5.3
Markdown @ file:///work/ci_py311/markdown_1676837083112/work
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.8.3
matplotlib-inline==0.1.7
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
motion-planning==0.1.5
mplib==0.1.1
mpmath @ file:///croot/mpmath_1690848262763/work
mujoco==3.1.4
multidict @ file:///croot/multidict_1701096859099/work
networkx @ file:///croot/networkx_1690561992265/work
numpy==1.23.5
oauthlib @ file:///croot/oauthlib_1679489621486/work
opencv-python==4.9.0.80
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow @ file:///croot/pillow_1707233021655/work
pin==2.7.0
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil @ file:///work/ci_py311_2/psutil_1679337388738/work
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.18.0
PyJWT @ file:///work/ci_py311/pyjwt_1676827385359/work
PyOpenGL==3.1.7
pyOpenSSL @ file:///croot/pyopenssl_1708380408460/work
pyparsing @ file:///work/ci_py311/pyparsing_1677811559502/work
pyperclip==1.8.2
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil==2.9.0.post0
pytorch-seed==0.2.0
pytorch_kinematics==0.6.1
pytz==2024.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
requests @ file:///croot/requests_1707355572290/work
requests-oauthlib==1.3.0
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
Rtree==1.2.0
sapien==2.2.2
scikit-learn @ file:///croot/scikit-learn_1684954695550/work
scipy @ file:///croot/scipy_1714069776893/work/dist/scipy-1.13.0-cp311-cp311-linux_x86_64.whl#sha256=5ea9bb3db7de954ca26bfbeb18592fabbe71154f6bc567a9ad09df45dd38f54d
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
soupsieve==2.5
stack-data==0.6.3
sympy @ file:///croot/sympy_1701397643339/work
tabulate==0.9.0
tensorboard @ file:///home/builder/mesters/opt/envs/tensorflow/conda-bld/tensorboard_1682445826165/work/tensorboard-2.12.1-py3-none-any.whl
tensorboard-data-server @ file:///croot/tensorboard-data-server_1681498183723/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl
tensorboard-plugin-wit==1.6.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toppra==0.6.0
torch==2.2.2
torch-tb-profiler==0.4.3
torch_geometric @ file:///usr/share/miniconda/envs/test/conda-bld/pyg_1710961787854/work
torchaudio==2.2.2
torchvision==0.17.2
torchviz==0.0.2
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets==5.14.3
transforms3d==0.4.1
trimesh==4.2.3
triton==2.2.0
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata==2024.1
urllib3 @ file:///croot/urllib3_1707770551213/work
wcwidth==0.2.13
Werkzeug @ file:///croot/werkzeug_1706210078083/work
yarl @ file:///croot/yarl_1701105127787/work
zipp==3.18.1
